/* Eric Meyer's Reset CSS v2.0 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  background-color: white;
  height: 9.25rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__top {
  /* margin-left: 4rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.menu__logo {
  color: #f15025;
  font-size: 3em;
  text-decoration: none;
}
.menu__search {
  width: 30%;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.menu__search-span {
  background-color: #f15025;
  padding: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menu__list {
  width: 40%;
}
.menu__list-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 0.75em;
}
input[type="text"] {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
}

.vl {
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}

.vl:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #f15025;
}
.menu__recipes {
  width: 70%;
  margin-top: 1rem;
}

.menu__recipes-types {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.8em;
}
.menu__recipes-types li {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* below the parent li */
  left: 0;
  background-color: white;
  list-style: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown li {
  padding: 0.3rem 0;
}

.menu__recipes-types-dinner:hover .dropdown {
  display: block;
}
.ads {
  background-color: #f2f2f2;
  width: 100%;
  padding: 2.5rem;
}
.main__stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #114388;
  padding: 1rem;
  color: white;
}
.main__stats-value {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.main__stats-link {
  color: white;
  text-decoration: none;
}
.main__stats-span {
  color: #fbd657;
}
.main__hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
/* .main__hero-image {
  margin-top: 2rem;
} */
.aside {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.aside__first {
  width: 40%;
}
main {
  width: 100%;
}
